@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply font-bold text-3xl;
}

h2 {
  @apply font-semibold text-2xl;
}

.text-gradient-to-r {
  @apply bg-gradient-to-r text-transparent bg-clip-text;
}

.border-gradient {
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to right, #0f172a, #1c1917) border-box;
  border-radius: 12px;
  border: 3px solid transparent;
}

.hide-fade-in {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.2s;
}

.show-fade-in {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
